<xf:if is="$xf.options.at_sf_facebook
		   OR $xf.options.at_sf_googlePlus
		   OR $xf.options.at_sf_twitter
		   OR $xf.options.at_sf_youtube
		   OR $xf.options.at_sf_instagram
		   OR $xf.options.at_sf_steam
		   OR $xf.options.at_sf_discord
		   OR $xf.options.at_sf_telegram">
	<xf:css src="at_sf_links.less" />

	<div class="socialfooter_links">
		<div class="position">
			<p>
				<i class="fas fa-share"></i>&nbsp;Follow us on:
			</p>
			<ul>
				<xf:if is="$xf.options.at_sf_facebook">
					<li><a href="{$xf.options.at_sf_facebook}"><xf:fa icon="fab fa-facebook-f" /></a></li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_googlePlus">
					<li><a href="{$xf.options.at_sf_googlePlus}"><xf:fa icon="fab fa-google-plus-g" /></a></li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_twitter">
					<li><a href="{$xf.options.at_sf_twitter}"><xf:fa icon="fab fa-twitter" /></a></li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_youtube">
					<li><a href="{$xf.options.at_sf_youtube}"><xf:fa icon="fab fa-youtube" /></a></li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_instagram">
					<li><a href="{$xf.options.at_sf_instagram}"><xf:fa icon="fab fa-instagram" /></a></li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_steam">
					<li><a href="{$xf.options.at_sf_steam}"><xf:fa icon="fab fa-steam-symbol fa-inverse" /></a></li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_discord">
					<li><a href="{$xf.options.at_sf_discord}"><xf:fa icon="fab fa-discord" /></a></li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_telegram">
					<li><a href="{$xf.options.at_sf_telegram}"><xf:fa icon="fab fa-telegram" /></a></li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_customURL1">
					<li>
						<a href="{$xf.options.at_sf_customURL1}">
							<i class="fab at_sf_customBG1" aria-hidden="true"></i>
						</a>
					</li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_customURL2">
					<li>
						<a href="{$xf.options.at_sf_customURL2}">
							<i class="fab at_sf_customBG2" aria-hidden="true"></i>
						</a>
					</li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_customURL3">
					<li>
						<a href="{$xf.options.at_sf_customURL3}">
							<i class="fab at_sf_customBG3" aria-hidden="true"></i>
						</a>
					</li>
				</xf:if>
				<xf:if is="$xf.options.at_sf_customURL4">
					<li>
						<a href="{$xf.options.at_sf_customURL4}">
							<i class="fab at_sf_customBG4" aria-hidden="true"></i>
						</a>
					</li>
				</xf:if>
			</ul>			
		</div>
	</div>
</xf:if>