.socialfooter_links {
	clear: both;
	overflow: auto;
	
	<xf:if is="property('at_sf_position') == ''">
		text-align: left;
	</xf:if>
	<xf:if is="property('at_sf_position') == 'center'">
		text-align: center;
	</xf:if>
	<xf:if is="property('at_sf_position') == 'right'">
		text-align: right;
	</xf:if>
	
	& .position {
		display: inline-block;
		
		& .fa-facebook-f		{background: #3b5998;}
		& .fa-google-plus-g		{background: #dd4b39;}
		& .fa-twitter				{background: #00aced;}
		& .fa-youtube			{background: #c33333;}
		& .fa-instagram			{background: #405de6;}
		& .fa-steam-symbol		{background: #000;}
		& .fa-discord			{background: #2C2F33;}
		& .fa-telegram			{background: #179cde;}
		
		& .at_sf_customBG1 {
			.xf-at_sf_customBG1();
			
			&:before {
				content: "@xf-at_sf_custom_icon1";
			}
		}
		& .at_sf_customBG2 {
			.xf-at_sf_customBG2();
			
			&:before {
				content: "@xf-at_sf_custom_icon2";
			}
		}
		& .at_sf_customBG3 {
			.xf-at_sf_customBG3();
			
			&:before {
				content: "@xf-at_sf_custom_icon3";
			}
		}
		& .at_sf_customBG4 {
			.xf-at_sf_customBG4();
			
			&:before {
				content: "@xf-at_sf_custom_icon4";
			}
		}
	}
	
	& p {
		overflow: auto;
		text-transform: uppercase;
		font-weight: bold;
		text-align: left;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	& ul {
		overflow: auto;
		padding-left: 0;
		margin-top: 0px;
		margin-bottom: 0px;
		
		& li {
			list-style-type: none;
			float: left;
			& a i {
				color: #fff;
				width: 40px;
				height: 40px;
				font-size: 27px;
				text-align: center;
				margin-right: 5px;
				padding-top: 19%;
			}
			& a i:hover {
				opacity: .7;
			}
		}
	}
}